<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="linechart">Line Chart</a>
      <a mat-list-item routerLinkActive="active" routerLink="barchart">Bar Chart</a>
      <a mat-list-item routerLink="piechart">Pie Chart</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-container>
    <div style="height:88vh ;">
      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-container>
</mat-sidenav-container>